Build a regression model.

In [1]:
# imports
import pandas as pd
import statsmodels.api as sm

grouped_business_df = pd.read_csv('grouped_business.csv', index_col = 0)

In [2]:
grouped_business_df

,Station Name,Average Rating,Average Reviews,Number of Bikes
0,15e avenue / Laurier,3.950,32.10,23
1,6e Avenue / Bélanger,4.325,16.25,19
2,6e avenue / Villeray,4.250,11.65,15
3,Atwater / Greene,4.175,170.30,25
4,Atwater / Sherbrooke,4.200,293.65,23
...,...,...,...,...
155,du Mont-Royal / Clark,4.200,420.85,34
156,du Mont-Royal / de Brébeuf,4.150,414.95,11
157,du Parc-Lafontaine / Rachel,4.325,391.15,19
158,du Square Dorchester / Peel,4.150,253.30,14
159,Émile-Duployé / Sherbrooke,4.275,376.35,22

In [3]:
X = grouped_business_df['Number of Bikes']
Y = grouped_business_df['Average Rating']

In [5]:
X = sm.add_constant(X)
lin_model = sm.OLS(Y, X).fit()

In [6]:
model = lin_model.summary()

Provide model output and an interpretation of the results.

In [7]:
print(model)

                            OLS Regression Results
==============================================================================
Dep. Variable:         Average Rating   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                 -0.004
Method:                 Least Squares   F-statistic:                    0.3716
Date:                Sun, 10 Dec 2023   Prob (F-statistic):              0.543
Time:                        21:30:03   Log-Likelihood:                 99.778
No. Observations:                 160   AIC:                            -195.6
Df Residuals:                     158   BIC:                            -189.4
Df Model:                           1
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const               4.1994      0.026    162.739      0.000       4.148       4.250
Number of Bikes    -0.0006      0.001     -0.610      0.543      -0.003       0.001
==============================================================================
Omnibus:                       79.432   Durbin-Watson:                   1.885
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              341.587
Skew:                          -1.867   Prob(JB):                     6.69e-75
Kurtosis:                       9.107   Cond. No.                         66.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Interpretation of Results:

R-squared: From the model above, an R-squared value of 0.002 indicates that about 0.2% of the variability in the dependent variable (Average Rating) is explained by the variability in the independent variable (Number of Bikes). Thus, this model does not explain a significant amount of variation in the dependent variable.

P-value: In this model output, the P-values for both the const coefficient and the Number of Bikes coefficient are very small (close to zero). This indicates that they are both statistically significant predictors of the dependent variable, Average Rating.

Coefficient: For this linear regression model, the coefficient for Number of Bikes is approximately -0.0006, suggesting that on average, a one unit increase in the Number of Bikes correlates with an increase of 0.0006 in the Average Rating.

Conclusion: While we can establish a statistically significant relationship between the independent and dependent variables, it is also worthy to note that the relationship between them is quite weak as evidenced by the low R-squared value.

# Stretch

How can you turn the regression model into a classification model?

To convert the regression model into a classification model, I will first define which attribute I am trying to predict. Next, I'll work on grouping my continuous variables into discrete labels to help create the class. Then I'll select an approrpiate classification algorithm and afterwards, evaluate my model.